adjustText==0.7.3
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819655903/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1631087867185/work
bioinfokit @ file:///opt/conda/conda-bld/bioinfokit_1637461440147/work
bioservices @ file:///home/conda/feedstock_root/build_artifacts/bioservices_1642509229121/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012303255/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046181956/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorlog==6.6.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1639699339442/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043384856/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
easydev @ file:///home/conda/feedstock_root/build_artifacts/easydev_1637053180592/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1643722499168/work
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1639267873459/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1635836962116/work
grequests==0.6.0
gseapy==0.10.8
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1644979927106/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1646324777053/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1637175406194/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1642858610849/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1645024457064/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836812195/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1645125017634/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359007685/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
matplotlib-venn @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-venn_1603640976466/work
munkres==1.1.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1643958854611/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1621288209738/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1644497866770/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862544510/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877545254/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
requests-cache==0.4.13
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464191908/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357425623/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1644535636111/work
suds-community @ file:///home/conda/feedstock_root/build_artifacts/suds-community_1624222800868/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
textwrap3==0.9.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819729986/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1640031068835/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1635836510531/work
xmltodict==0.12.0
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1635859637715/work
